<!doctype html>
{% load static %}
<html lang="en">
<head>
  <title>Intelligence home</title>

</head>

<h1 class="caption"> Ваш умный дом</h1>

<p>

    <label for="login">Логин:</label><br />
    <input type="text" size="10" name="login" id="login" title="Введите логин латинскими символами с заглавной буквыx" ><br />
    <label for="password">Пароль:</label><br />
    <input type="text" size="10" name="password" id="password" title="Введите пароль в цифровом формате"><br />
<button class="button" id="processing">Вход</button>
    <!--<script type="text/javascript" src="index.js"></script>-->
    <!--<script src="{% static "js/index.js" %}"></script>-->
    {% csrf_token %}
    <script type="text/javascript" src="{% static "login.js" %}"></script>

</p>

</html>

